.product {
    display: flex;
    border-bottom: 2px solid lightslategray;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-name {
    color: blue;
    font-weight: 400;
    margin-left: 10px;
}
.product-details{
    margin-left: 10px;
}
.product-btn{
    width: 200px;
    line-height: 20px;
    background-color: gold;
    border-radius: 5px;
}
